.container #mainText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.container #mainText .box {
  height: 15rem;
  width: 40rem;
  border: 1px solid black;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#splashImage {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTL1qw__fSMU2xZjpO3LLv6BQwRgSDP4kgzF0PN8jxseXdVQnAtpw");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 0 2rem;
}
#splashImage p {
  font-size: 1.3rem;
}
